<template>
    <v-row no-gutters>
        <v-col cols="1" alignment="center">
            <h4>Комментарий</h4>
        </v-col>

        <v-col cols="11">
            <v-text-field
                    label="Основание для изменений"
                    outlined
                    dense
                    v-model="entity.comment"
            ></v-text-field>
        </v-col>
    </v-row>
</template>

<script>
    export default {
        name: "bottom-bar",

        props: ['entity']
    }
</script>

<style scoped>

</style>