<template>
    <div>
        <v-card class="border disable-shadow">
            <v-card-title>
                {{cardName}}
            </v-card-title>

            <v-card>
                <v-form fluid>

                    <v-row no-gutters>
                        <v-col cols="4">
                            <v-subheader>Наименование/Имя</v-subheader>
                        </v-col>
                        <v-col cols="7">
                            <v-text-field v-model="entity.name"
                                          @focusin="saveFieldId('name')"
                                          dense
                            ></v-text-field>
                        </v-col>
                    </v-row>

                    <v-row no-gutters>
                        <v-col cols="4">
                            <v-subheader>Транслитерация</v-subheader>
                        </v-col>
                        <v-col cols="7">
                            <v-text-field v-model="entity.transName"
                                          @focusin="saveFieldId('transName')"
                                          dense
                            ></v-text-field>
                        </v-col>
                    </v-row>

                    <v-row no-gutters>
                        <v-col cols="4">
                            <v-subheader>Код страны</v-subheader>
                        </v-col>
                        <v-col cols="7">
                            <v-select
                                    :items="countryCodes"
                                    v-model="entity.countryCode"
                                    item-text="name"
                                    dense
                                    single-line
                                    return-object
                            ></v-select>
                        </v-col>
                    </v-row>

                    <v-row no-gutters>
                        <v-col cols="4">
                            <v-subheader>Адрес</v-subheader>
                        </v-col>
                        <v-col cols="7">
                            <v-row no-gutters tile flat>
                                <v-select
                                        label="Страна"
                                        :items="countries"
                                        v-model="entity.country"
                                        item-text="name"
                                        dense
                                        single-line
                                        return-object
                                ></v-select>
                            </v-row>

                            <v-row no-gutters tile flat>
                                <v-text-field
                                        label="Индекс"
                                        v-model="entity.index"
                                        dense
                                        @focusin="saveFieldId('index')"
                                ></v-text-field>
                            </v-row>

                            <v-row no-gutters>
                                <v-text-field
                                        label="Населенный пункт"
                                        v-model="entity.city"
                                        dense
                                        @focusin="saveFieldId('city')"
                                ></v-text-field>
                            </v-row>

                            <v-row no-gutters>
                                <v-text-field
                                        label="Улица"
                                        v-model="entity.street"
                                        dense
                                        @focusin="saveFieldId('street')"
                                ></v-text-field>
                            </v-row>

                            <v-row no-gutters>
                                <v-col cols="4">
                                    <v-text-field
                                            label="Дом"
                                            v-model="entity.house"
                                            dense
                                            @focusin="saveFieldId('house')"
                                    ></v-text-field>
                                </v-col>

                                <v-col cols="4">
                                    <v-text-field
                                            label="Корпус"
                                            v-model="entity.buildingNumber"
                                            dense
                                            @focusin="saveFieldId('buildingNumber')"
                                    ></v-text-field>
                                </v-col>

                                <v-col cols="4">
                                    <v-text-field
                                            label="Строение"
                                            v-model="entity.building"
                                            dense
                                            @focusin="saveFieldId('building')"
                                    ></v-text-field>
                                </v-col>
                            </v-row>

                            <v-row no-gutters>
                                <v-text-field
                                        label="Квартира/офис"
                                        v-model="entity.flat"
                                        dense
                                        @focusin="saveFieldId('flat')"
                                ></v-text-field>
                            </v-row>
                        </v-col>
                    </v-row>

                    <v-row no-gutters>
                        <v-col cols="4">
                            <v-subheader>ОГРН/ОГРНИП</v-subheader>
                        </v-col>

                        <v-col cols="7">
                            <v-text-field v-model="entity.ogrn"
                                          dense
                                          @focusin="saveFieldId('ogrn')"
                            ></v-text-field>
                        </v-col>
                    </v-row>

                    <v-row no-gutters>
                        <v-col cols="4">
                            <v-subheader>ИНН</v-subheader>
                        </v-col>

                        <v-col cols="7">
                            <v-text-field v-model="entity.inn"
                                          dense
                                          @focusin="saveFieldId('inn')"
                            ></v-text-field>
                        </v-col>
                    </v-row>

                    <v-row no-gutters>
                        <v-col cols="4">
                            <v-subheader>КПП</v-subheader>
                        </v-col>

                        <v-col cols="7">
                            <v-text-field v-model="entity.kpp"
                                          dense
                                          @focusin="saveFieldId('kpp')"
                            ></v-text-field>
                        </v-col>
                    </v-row>

                    <v-row no-gutters>
                        <v-col cols="4">
                            <v-subheader>ОКПО</v-subheader>
                        </v-col>

                        <v-col cols="7">
                            <v-text-field v-model="entity.okpo"
                                          dense
                                          @focusin="saveFieldId('okpo')"
                            ></v-text-field>
                        </v-col>
                    </v-row>

                    <v-row no-gutters>
                        <v-col cols="4">
                            <v-subheader>ОПФ</v-subheader>
                        </v-col>

                        <v-col cols="7">
                            <v-text-field v-model="entity.opf"
                                          dense
                                          @focusin="saveFieldId('opf')"
                            ></v-text-field>
                        </v-col>
                    </v-row>

                    <v-row no-gutters>
                        <v-col cols="4">
                            <v-subheader>КИО</v-subheader>
                        </v-col>

                        <v-col cols="7">
                            <v-text-field v-model="entity.kio"
                                          dense
                                          @focusin="saveFieldId('kio')"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card>
        </v-card>
    </div>

</template>

<script>
    export default {
        name: "edit-card",

        data: () => ({
            countryCodes: [1, 2, 7],
            countries: [
                'Россия',
                'США',
                'Китай'
            ],
            pickerVisible: 'hidden',
        }),

        methods: {
            saveFieldId(fieldId) {
                this.entity.fieldId = fieldId;
            }
        },

        props: ['entity', 'cardName']
    }
</script>

<style lang="stylus" scoped>
    div.disable-shadow
        box-shadow none
</style>