<template>
    <v-col cols="2" class="top-margin10" @click="copyFieldToNewItem">
        <v-row class="margin-button">
            <v-btn icon x-large color="blue">
                <v-icon large>mdi-play</v-icon>
            </v-btn>
        </v-row>

        <v-row class="margin-button" @click="copyFieldToEditItem">
            <v-btn icon x-large color="blue">
                <v-icon large>mdi-play mdi-flip-h</v-icon>
            </v-btn>
        </v-row>

        <v-row class="margin-button" @click="copyToNewItem">
            <v-btn icon x-large color="blue">
                <v-icon large>mdi-play</v-icon>
                <v-icon large>mdi-play</v-icon>
            </v-btn>
        </v-row>

        <v-row class="margin-button">
            <v-btn icon x-large color="blue" @click="copyToEditItem">
                <v-icon large>mdi-play mdi-flip-h</v-icon>
                <v-icon large>mdi-play mdi-flip-h</v-icon>
            </v-btn>
        </v-row>
    </v-col>
</template>

<script>
    export default {
        name: "move-value-buttons-bar",

        computed: {},

        methods: {
            copyToEditItem() {
                this.$emit('copyToEditItem');
            },

            copyFieldToEditItem() {
                this.editedItem[this.newItem.fieldId] = this.newItem[this.newItem.fieldId];
            },

            copyToNewItem() {
                this.$emit('copyToNewItem');
            },

            copyFieldToNewItem() {
                this.newItem[this.editedItem.fieldId] = this.editedItem[this.editedItem.fieldId];
            },

        },

        props: ['editedItem', 'newItem']
    }
</script>

<style lang="stylus" scoped>
    .margin-button
        margin-top 40px
        margin-left 40%
</style>