<template>
    <v-card class="disable-shadow">
        <v-data-table :headers="headers"
                      :items="fields"
                      :search="search"
                      class="top-margin1 table-header table-body"
        >
            <template v-slot:top>
                <v-toolbar flat color="white" max-width="500px">
                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                            <v-text-field class="text--blue"
                                          v-model="search"
                                          append-icon="mdi-account-search"
                                          label="Поиск заявителя по подстроке"
                                          single-line
                            ></v-text-field>
                        </template>

                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ dialogTitle }}</span>
                            </v-card-title>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="closeDialog">{{cancelButtonTitle}}</v-btn>
                                <v-btn color="blue darken-1" text @click="deleteItem" v-if="!isEmptyArray()">Да
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>

            <template v-slot:item.address="{ item }">
                <div>{{ getFullAddress(item) }}</div>
            </template>

            <template v-slot:item.ops="{ item }">
                <v-btn v-if="isLastItem(item)" text icon color="blue" @click="addItem()">
                    <v-icon>mdi-plus</v-icon>
                </v-btn>

                <v-btn v-if="editedIndex === fields.indexOf(item)" text icon color="blue" @click="saveItem(item)">
                    <v-icon>mdi-content-save</v-icon>
                </v-btn>

                <v-btn text icon color="blue" @click="editItem(item)">
                    <v-icon>mdi-table-edit</v-icon>
                </v-btn>

                <v-btn text icon color="red" @click="openDialog(item)">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </template>

        </v-data-table>
    </v-card>
</template>

<script>
    export default {
        name: "requestor-table",

        data: () => ({
            dialog: false,
            deletedIndex: -1,
            cancelButtonTitle: 'Нет',
            editedIndex: -1
        }),

        props: ['headers', 'fields', 'search', 'dialogTitle', 'editedItem', 'newItem'],

        methods: {
            isEmptyArray() {
                return this.fields.length === 1 && !this.fields[0].id;
            },

            getFullAddress(item) {
                return item.country ? `${item.country}, ${item.city}` : '';
            },

            editItem(item) {
                this.editedIndex = this.fields.indexOf(item);

                this.$emit('editItem', item);
            },

            openDialog(item) {
                if (this.isEmptyArray()) {
                    this.dialogTitle = 'Все строки удалены';
                    this.cancelButtonTitle = 'Ok';
                } else {
                    this.dialogTitle = 'Вы точно хотите удалить эту запись?';
                    this.cancelButtonTitle = 'Нет';
                }

                this.dialog = true;
                this.deletedIndex = this.fields.indexOf(item);
            },

            deleteItem() {
                if (this.fields.length === 1) {
                    this.$emit('clearLastItem');
                } else {
                    this.fields.splice(this.deletedIndex, 1);
                }

                this.closeDialog();
            },

            addItem() {
                this.fields.push(Object.assign({}, this.defaultItem));
            },

            closeDialog() {
                this.dialog = false;

                this.$emit('clearItems');

                this.editedIndex = -1;
                this.deletedIndex = -1;
            },

            saveItem() {
                if (this.editedIndex > -1) {
                    Object.assign(this.fields[this.editedIndex], this.newItem);
                }

                this.closeDialog();
            },

            isLastItem(item) {
                return this.fields.indexOf(item) === this.fields.length - 1;
            }
        }
    }
</script>

<style lang="stylus" scoped>
    .table-header /deep/ thead
        background dodgerblue

    .table-header /deep/ thead th
        border 1px double lightskyblue
        color white !important

    .table-header /deep/ thead th i
        color white !important

    .table-header /deep/ header label
        color lightskyblue

    .table-body /deep/ tbody td
        border 1px double lightskyblue

    div.disable-shadow
        box-shadow none

    .top-margin1
        margin-top 1%
</style>