<template>
    <div>
        <v-row class=" negative-top-margin blue--text blue lighten-4"
               background-color="blue lighten-4"
               height="60"
               justify="space-between"
        >
            <v-col>
                <v-icon color="blue" large>mdi-arrow-up-drop-circle-outline</v-icon>
            </v-col>

            <v-col cols="1">
                <h3 v-if="entity.id">({{ entity.id }})</h3>
            </v-col>

            <v-col cols="4">
                <h3>Сведения о заявителе - ИЗМЕНЕНИЯ</h3>
            </v-col>

            <v-col cols="6">
                <h3>Основания для изменения:
                    <span v-if="entity.id" class="black--text">
                        {{entity.vkCode}} № {{entity.vkNumber}} от {{entity.vkDate}}
                    </span>

                    <span v-if="!entity.id" class="black--text">Основания не указаны</span>
                </h3>
            </v-col>
        </v-row>

        <div class="line"></div>
    </div>
</template>

<script>
    export default {
        name: "top-bar",

        props: ['entity']
    }
</script>

<style lang="stylus" scoped>
    .negative-top-margin
        margin-top -11px

    .line
        height 5px
        background-color dodgerblue
        margin-left -13px
        margin-right -13px
</style>