<template>
    <v-card class="container">
        <top-bar :entity="editedItem"></top-bar>

        <requestor-table :headers="headers"
                         :fields="fields"
                         :search="search"
                         :dialogTitle="dialogTitle"
                         :editedItem="editedItem"
                         :new-item="newItem"
                         @editItem="editItem"
                         @clearItems="clearItems"
                         @clearLastItem="clearLastItem"
        ></requestor-table>

        <v-row>
            <v-col cols="5" justify="center">
                <edit-card :entity="editedItem"
                           :cardName="cardNames.current"
                           cols="5"
                ></edit-card>
            </v-col>

            <move-value-buttons-bar :newItem="newItem"
                                    :editedItem="editedItem"
                                    @copyToEditItem="copyToEditItem"
                                    @copyToNewItem="copyToNewItem"
            ></move-value-buttons-bar>

            <v-col cols="5">
                <edit-card :entity="newItem"
                           :cardName="cardNames.new"
                           cols="5"
                ></edit-card>
            </v-col>
        </v-row>

        <bottom-bar :entity="editedItem"></bottom-bar>

    </v-card>
</template>

<script>
    import EditCard from "../components/edit-card";
    import BottomBar from "../components/bottom-bar";
    import TopBar from "../components/top-bar";
    import MoveValueButtonsBar from "../components/move-value-buttons-bar";
    import RequestorTable from "../components/requestor-table";

    export default {
        name: "home",
        components: {RequestorTable, MoveValueButtonsBar, TopBar, BottomBar, EditCard},
        data: () => ({
            search: '',
            headers: [
                {
                    text: 'Наименование/Имя',
                    align: 'left',
                    value: 'name'
                },
                {text: 'Адрес', value: 'address'},
                {text: 'ОГРН/ОГРНИП', value: 'ogrn'},
                {text: 'ИНН', value: 'inn'},
                {text: 'КПП', value: 'kpp'},
                {text: 'ОКПО', value: 'okpo'},
                {text: 'ОПФ', value: 'opf', sortable: false},
                {text: 'Код страны', value: 'countryCode', sortable: false},
                {text: 'Операции', value: 'ops', sortable: false, align: 'right'},
            ],
            fields: [
                {
                    id: '731',
                    name: 'Имя второго заявителя',
                    transName: null,
                    address: 'Адрес наименования',
                    ogrn: 'Его ОГРН',
                    inn: 'И ИНН',
                    kpp: 'Даже КПП',
                    okpo: 'Хз что это',
                    opf: 'И оно тут есть',
                    countryCode: 2,
                    kio: 'кио',
                    vkCode: 'вк код',
                    vkNumber: 'вк номер',
                    vkDate: new Date().toISOString().split('T')[0],
                    comment: 'комментарий первый',
                    country: 'Россия',
                    index: '345662',
                    city: 'город',
                    house: 'дом',
                    street: 'другая улица',
                    buildingNumber: 'корпус',
                    building: 'здание',
                    flat: 'квартира'
                },
                {
                    id: '231',
                    name: 'Имя заявителя',
                    transName: null,
                    address: 'Адрес наименования',
                    ogrn: 'ОГРН',
                    inn: 'ИНН',
                    kpp: 'КПП',
                    okpo: 'окпо',
                    opf: 'опф',
                    countryCode: 7,
                    kio: 'кио',
                    vkCode: 'второй вк код',
                    vkNumber: 'второй вк номер',
                    vkDate: new Date().toISOString().split('T')[0],
                    comment: 'комментарий второй',
                    country: 'Китай',
                    index: 'индекс',
                    city: 'тот же город',
                    street: 'улица',
                    house: 'дом 2',
                    buildingNumber: 'корпус 3',
                    building: 'здание',
                    flat: 'квартира 4'
                }
            ],
            editedItem: {
                id: '',
                name: '',
                address: '',
                ogrn: '',
                inn: '',
                kpp: '',
                okpo: '',
                opf: '',
                countryCode: '',
                kio: '',
                vkCode: '',
                vkNumber: '',
                vkDate: '',
                comment: '',
                country: '',
                index: '',
                city: '',
                street: '',
                house: '',
                buildingNumber: '',
                building: '',
                flat: ''
            },
            newItem: {
                id: '',
                name: '',
                address: '',
                ogrn: '',
                inn: '',
                kpp: '',
                okpo: '',
                opf: '',
                countryCode: '',
                kio: '',
                vkCode: '',
                vkNumber: '',
                vkDate: '',
                comment: '',
                country: '',
                index: '',
                city: '',
                street: '',
                house: '',
                buildingNumber: '',
                building: '',
                flat: ''
            },
            defaultItem: {
                id: '',
                name: '',
                address: '',
                ogrn: '',
                inn: '',
                kpp: '',
                okpo: '',
                opf: '',
                countryCode: '',
                kio: '',
                vkCode: '',
                vkNumber: '',
                vkDate: '',
                comment: '',
                country: '',
                index: '',
                city: '',
                street: '',
                house: '',
                buildingNumber: '',
                building: '',
                flat: ''
            },
            dialogTitle: 'Вы точно хотите удалить эту запись?',
            rus: "щ   ш  ч  ц  ю  я  ё  ж  ъ  ы  э  а б в г д е з и й к л м н о п р с т у ф х ь".split(/ +/g),
            eng: "shh sh ch cz yu ya yo zh `` y' e` a b v g d e z i j k l m n o p r s t u f x `".split(/ +/g),
            cardNames: {
                current: 'Текущие значения',
                new: 'Новые значения'
            }
        }),

        watch: {
            dialog(val) {
                val || this.closeDialog();
            },
        },

        methods: {
            editItem(item) {
                this.editedItem = Object.assign({}, item);

                if (!this.editedItem.transName) {
                    this.editedItem.transName = this.transliterate(this.editedItem.name);
                }
            },

            isLastItem(item) {
                return this.fields.indexOf(item) === this.fields.length - 1;
            },

            copyToEditItem() {
                this.editedItem = Object.assign({}, this.newItem);
            },

            copyToNewItem() {
                this.newItem = Object.assign({}, this.editedItem);
            },

            getFullAddress(item) {
                return item.country ? `${item.country}, ${item.city}` : '';
            },

            clearItems() {
                this.editedItem = Object.assign({}, this.defaultItem);
                this.newItem = Object.assign({}, this.defaultItem);
            },

            clearLastItem() {
                Object.assign(this.fields[0], this.defaultItem);
            },

            transliterate(text, engToRus) {
                for (let x = 0; x < this.rus.length; x++) {
                    text = text.split(engToRus ? this.eng[x] : this.rus[x]).join(engToRus ? this.rus[x] : this.eng[x]);
                    text = text.split(engToRus ? this.eng[x].toUpperCase() : this.rus[x].toUpperCase()).join(engToRus ? this.rus[x].toUpperCase() : this.eng[x].toUpperCase());
                }

                return text;
            }
        },
    }
</script>

<style lang="stylus" scoped>
    .top-margin10
        margin-top 10%
</style>